<span>
  <mat-icon
    *ngIf="params?.data?.status === 'said yes (interview)'"
    (click)="handlerClick('schedule')"
    aria-hidden="false"
    fontIcon="calendar_month"
    matTooltip="Schedule a meeting"
  ></mat-icon>
  <mat-icon
  (click)="handlerClick('info')"
    aria-hidden="false"
    fontIcon="info"
    matTooltip="Info"
  ></mat-icon>
  <mat-icon
    *ngIf="params?.data?.status !== 'said yes (interview)' && params?.data?.status !== 'discarded candidate'"
    (click)="handlerClick('delete')"
    aria-hidden="false"
    fontIcon="delete"
    matTooltip="Delete candidate"
  ></mat-icon>
</span>
