<div class="container">

  <form>
    <mat-form-field>
      <mat-label>Select Open Position</mat-label>
      <mat-select>
        <mat-option *ngFor="let position of positions$ | async" [value]="position.id">{{ position.name }}</mat-option>
      </mat-select>
    </mat-form-field>
  </form>
  
  <h1>Candidates</h1>
  
  <ag-grid-angular
    style="width: 1200px; height: 350px;"
    class="ag-theme-alpine"
    [context]="context"
    [rowData]="rowData$ | async"
    [columnDefs]="columnDefs">
  </ag-grid-angular>
</div>
