<div class="container">

  <form>
    <mat-form-field>
      <mat-label>Select Open Position</mat-label>
      <select matNativeControl (change)="selectPosition($event)">
        @for(position of positions(); track position) {
          <option [value]="position.name">{{ position.name }}</option>
        }
      </select>
    </mat-form-field>
  </form>
  @defer {
    <h1>Candidates</h1>
    
    <ag-grid-angular
      style="width: 1200px; height: 350px;"
      class="ag-theme-alpine"
      [context]="context"
      [rowData]="rowData()"
      [columnDefs]="columnDefs"
      (gridReady)="onGridReady($event)"
    ></ag-grid-angular>
  } @placeholder (minimum 1000ms) {
    <p>Loading...</p>
  }
</div>
